body {
    background-color: rgb(215, 134, 240);
    font-family: sans-serif;
  }

.App {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 98vw;
}

.app-filter {
    align-items: center;
}

.app-filter__input{
    padding: 10px;
    font-size: 16px;
    border: 2px solid #FFF;
    width: 228px;
}

.list-insert_input {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #FFF;
    width: 165px;
}

.list-insert_btn {
    padding: 10px;
    font-size: 16px;
    margin: 10px;
    margin-right: 0px;
    background-color: purple;
    color: #FFF;
    border: 2px solid purple;
}

.list-item {
    display: flex;
    margin-left: -90%;
    transition: all 2s;
}

.list-item_text {
    color: #333;
    background-color: rgba(255, 255, 255, .5);
    padding: 15px;
    margin-bottom: 5px;
    border-radius: 5px;    
}

.delete {
    margin-left: 90%
}

.add {
    margin-left: 0%
}

.filter-story__item {
    color: black;
    background-color:white;
    padding: 5px;  
    width: 237px;
    list-style-type: none;
    font-size: 16px;
    border: 2px solid #FFF;
}
